.bottom-part {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    text-align: center;

    .header {
        font-size: 40px
    }
    
    .header-content {
        font-size: 30px
    }

    .header-today {
        font-size: 55px;
    }

    .header-content-today {
        font-size: 45px;
    }
}