.time-container {
    text-align: center;

    .time {
        font-size: 180px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .time-left {
        font-size: 60px;

        .iftar-in-text {
            padding: 0 10px;
            background-color:brown;
            color: #ffc107;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }

}